
#windowOfMaker{
    margin: auto;
    width: 500px;
    border: 10px solid rgb(194, 194, 194);
    border-radius: 3%;
}
.palette{
    position: relative;    
    height: 100px;
    width: 100%;
    background: rgb(194, 194, 194);
    
}
.canvas{
    width: 500px;
    height: 500px;
    display: block;
    background: white;
    border-color: rgb(194, 194, 194);
}
.pixel{ 
    display: inline-block;
    width: 2%;
    height: 2%;
    border: 1px solid rgb(194, 194, 194);
    box-sizing: border-box;
    float: left;
}
.item{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 5px;
}
.itemsWraper{
    display: inline-block;
    position: relative;
    top: 15px;
    width: 300px;
}
#currentColor{
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 0px;
    color: rgb(255, 255, 255);
    text-align: right;
}
#color{
    display: inline-block;
    width: 40px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 1px solid white;
}
.colorPicker {
    display: block;
}
.menu {
    background: rgb(194, 194, 194);
    text-align: center;
}
button {
    margin: auto 3px;
}


